*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #31b33c;
    border-bottom: 1px solid #c3c3c3;
}

.navbtn {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.navbtn .bar {
    width: 24px;
    height: 2px;
    margin-left: 3px;
    background-color: #ffffff;
}

.navbtn .bar:first-child {
    content: "";
    margin-top: 6px;
    margin-bottom: 5px;
}

.navbtn .bar:last-child {
    content: "";
    margin-top: 5px;
    margin-bottom: 8px;
}


.logo {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

.headerNav {
    display: none;
}